<!DOCTYPE html>
<html>
    <head>
        <title>Steam Value Comparator Grapher</title>
    </head>
    <body>
        <form id="SteamID" action="/UsersSubmit" method="POST">
            {% for form in range(1,users+1) %}
                    <label for="SteamID_{{form}}">Enter Steam ID</label>
                    <input id="SteamID_{{form}}" name="SteamID_{{form}}" type="text" placeholder="Enter Steam ID">
            {% endfor %}
            <button type="submit">Submit</button>
            <input type="checkbox" name="famshare" id="famshare">
            <label for="famshare">Games with family sharing</label>
        </form>
    </body>
</html>